<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todoro</title>
</head>
<body>
    <h1>{{ task.name }}</h1>
    <p>{{ task.description }}</p>

    <ul>
        <li>
            <strong>owner:</strong>
            {{ task.assigned }}
        </li>
        <li>
            <strong>assigned:</strong>
            {{ task.owner }}
        </li>
        <li>
            <strong>estimated:</strong>
            {{ task.time_estimated }}
        </li>
        <li>
            <strong>status:</strong>
            {{ task.status }}
        </li>
        <li>
            <strong>deadline:</strong>
            {{ task.deadline }}
        </li>

    </ul>



</body>
</html>