<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todoro</title>
</head>
<body>
    <h1>{{ task.name }}</h1>
    <p>{{ task.description }}</p>

    <ul>
        <li>
            <strong>owner:</strong>
            {{ task.owner }}
        </li>
        <li>
            <strong>assigned:</strong>
            {% if task.assigned %}
                {{ task.assigned.first_name }} {{ task.assigned.last_name }}
            {% else %}
                Unassigned
            {% endif %}
        </li>
        <li>
            <strong>estimated:</strong>
            {% if task.time_estimated %}
                {{ task.time_estimated }}
            {% else %}
                No time estimated set
            {% endif %}
        </li>
        <li>
            <strong>status:</strong>
            {{ task.get_status_display }}
        </li>
        <li>
            <strong>deadline:</strong>
            {% if task.deadline %}
                {{ task.deadline }}
            {% else %}
                No deadline set
            {% endif %}

        </li>

    </ul>



</body>
</html>